mixin header(current)
    div.header
        a(href=config.indexPath class=current === 'index' ? 'header__item header__item--current':'header__item') Index
        a(href=config.aboutPath class=current === 'about' ? 'header__item header__item--current':'header__item') About
        a(href=config.homePath class=current === 'home' ? 'header__item header__item--current':'header__item') Home
        a(href=config.settingPath class=current === 'setting' ? 'header__item header__item--current':'header__item') Setting