mixin header(current)
    div.header
        a(href=config.indexPath class=current === 'index' ? 'header__item--current':'') Index
        a(href=config.homePath class=current === 'home' ? 'header__item--current':'') Home
        a(href=config.settingPath class=current === 'setting' ? 'header__item--current':'') Setting